.layout-provider-component {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  /* background: red; */
}

.sidebar {
  width: 15%;
  min-width: 300px;
  height: 100%;
  background: #f4f3ff;
}

.right-bar {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f9fafb;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header-container {
  width: 100%;
  height: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  background: rgba(256, 256, 256, 0.1);
  backdrop-filter: blur(5px);
}
.app-container {
  width: 100%;
  height: 100%;
  padding: 10px 25px;
  padding-top: 90px;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.header-title {
  font-size: 28px;
  font-weight: 600;
  color: #1d1d1f;
}
